<div class="mb-3 form-floating">
    <input 
        [class.is-invalid]="control.touched && control.invalid"
        [type]="type()"
        class="form-control"
        name="{{label()}}"
        [formControl]="control"
        placeholder={{label()}}
    >
    <label for="{{label()}}">{{label()}}</label>
    @if (control.hasError('required')) {
        <div class="invalid-feedback text-start">Please enter a {{label()}}</div>
    }
    @if (control.hasError('minlength')) {
        <div class="invalid-feedback text-start">
            {{label()}} must be at least {{control.errors?.['minlength'].requiredLength}} characters
        </div>
    }
    @if (control.hasError('maxlength')) {
        <div class="invalid-feedback text-start">
            {{label()}} must be at most {{control.errors?.['maxlength'].requiredLength}} characters
        </div>
    }
    @if (control.hasError('isMatching')) {
        <div class="invalid-feedback text-start">
            Passwords do not match
        </div>
    }
</div>