@let user = member();

@if (user) {
    <div class="row">
        <div class="col-4">
            <h1>Your profile</h1>
        </div>
        <div class="col-8">
            @if (editForm.dirty) {
                <div class="alert alert-info pb-0">
                    <p>
                        <strong>Information:</strong>
                        You have made changes. Any unsaved changes will be lost.
                    </p>
                </div>
            }
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.userName}}" class="card-img img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{user.city}}, {{user.country}}</p>
                        
                        <strong>Age:</strong>
                        <p>{{user.age}}</p>

                        <strong>Last Active:</strong>
                        <p>{{user.lastActive | date:'medium'}}</p>

                        <strong>Member Since:</strong>
                        <p>{{user.createdAt | date:'medium'}}</p>
                    </div>
                    <div class="card-footer">
                        <button form="editForm" 
                                type="submit" 
                                class="btn btn-success col-12"
                                [disabled]="!editForm.dirty"
                                >Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <tabset class="member-tabset">
                <tab heading="About {{ user.knownAs}}">
                    <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Description</h4>
                    <textarea class='form-control' name="introduction" [(ngModel)]="user.introduction" rows="6"></textarea>
                    <h4 class="mt-2">Looking For</h4>
                    <textarea class='form-control' name="lookingFor" [(ngModel)]="user.lookingFor" rows="6"></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea class='form-control' name="interests" [(ngModel)]="user.interests" rows="6"></textarea>
                    <div class="d-flex align-items-center mt-2">
                        <label for="city">City:</label>
                        <input type="text" 
                            [(ngModel)]="user.city"
                            class="form-control mx-2"
                            name="city"
                            id="city"
                        >
                        <label for="country">Country:</label>
                        <input type="text" 
                            [(ngModel)]="user.country"
                            class="form-control mx-2"
                            name="country"
                            id="country"
                        >
                    </div>
                    </form>
 
                </tab>
                <tab heading="Edit photos">
                    <app-photo-editor [member]="user" (memberChange)="onMemberChange($event)"></app-photo-editor>
                </tab>
            </tabset>
        </div>
    </div>
}